.login__img{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__img img {
    width: 100%;
    display: flex;
    align-content: center;
}

.login__form{
    display: inline;
    padding: 50px;
    background-color: var(--primary-color);
    position: relative;
}


.login__container{
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-top: 10px;
}

.login__form .user{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}

.login__form h2{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.login__form{
    width: 50%;
}


.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus{
    outline: none;
}


.auth__btn{
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}

.login__form p{
    font-size: .9rem
    ;
    color: white;
    margin-top: 1.5rem;
    align-items: center;
}


.login__form p a{
    color: var(--heading-color)
    ;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}