.become__seller {
    background: linear-gradient(rgba(0, 107, 27, 0.9), rgba(0, 107, 52, 0.9)),
      url("../../assets/images/tour.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
  }
  
  .become__seller button {
    background: #fff;
    color: #009445;
    font-weight: 600;
  }

  .become__seller button:hover{
    background: var(--secondary-color);
    color: #fff;
  }
  
  .become__seller-title {
    font-size: 2.8rem;
    color: #fff;
    line-height: 65px;
  }
  
  @media only screen and (max-width: 992px) {
    .become__seller-title {
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .become__seller {
      padding: 50px 0px;
    }
  
    .become__seller-title {
      font-size: 1.3rem;
      line-height: 2.5rem;
    }
  
    .become__seller-btn {
      font-size: 0.8rem !important;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .become__seller-img {
      display: none;
    }
    .become__seller {
      text-align: center;
    }
  }
  