.admin__col{
    padding-right: 0 !important;
}


.admin__animation{
    width: 50%;
    height: 50%;
}.dashboard-content {
    background-color: #f4f4f4;
  }
  
  .admin__col {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin__welcome-section {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    padding: 30px;
    background: linear-gradient(135deg, #009445 0%, #75bc96 50%, #d2f3e0 100%);
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
  }
  
  .admin__welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .admin__welcome-subtext {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f8f9fa;
  }
  
  .admin__animation {
    max-width: 300px;
    margin: 0 auto;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  